.mainleft {
    padding: 0 120px;
    margin-bottom: 150px;
}
.mainleftstatus {
    width: 468px;
    height: 140px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.mainleftstatusimg{
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #810b42;
}
.mainleftstatus img {   
    width: 48px;
    height: 48px;
    border-radius: 50%;
}   
.containerimg {
    width: 468px;
    height: 580px;
}
.containerimg img {
    width: 100%;
    height: 100%;
}
.containershare {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 23px;
    line-height: 60px;
    word-spacing: 0.5em;
}

.mainleftcontainerfull {
    display: flex;
    align-items: center;
    padding: 0px 0 10px;
}
.mainleftcontainerimg {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.mainleftcontainerimg img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}
.mainleftcontainername {
    margin-left: 10px;
}
.mainleftcontainername h5{
    font-size: 15px;
    color: #262626;
    font-weight: 600;
}
.containercomments {
    display: flex;
    width: 468px;
}
.containercomments h6 {
    font-size: 16px;
    color: #000;
    line-height: 22px;
    font-weight: 400;
}
.line {
    margin: 20px 0 25px;
    height: 1px;
    background-color: #dbdbdb;
}
.likes h5 {
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    padding-bottom: 10px;
}