* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
  }
body {
    display: flex;
    background-color: #FAFAFA;
    font-family: Segoe UI;
    flex-direction: column;
}
.top_section {
    display: flex;
    margin-top: 20px;
}
.panel {
    display: flex;
    width: 340px;
    margin: 10px 0px;
    padding: 20px 0px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
}
.login {
    flex-direction: column;
}
.logo {
    width: 170px;
    height: 51px;
    margin-top: 20px;
}
.paneltext{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 20px;
}
.paneltext h3{
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
    color: #737373;
}
.fb_login i {
    font-size: 18px;
    padding-right: 8px;
}
.fb_login button {
    background-color: #0095f6;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0;
}
form {
    width: 268px;
    text-align: center;
}
form h4 {
    color: #737373;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    margin-top: 5px;
}
form h6 {
    color: #737373;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    margin-top: -5px;
}
.inputbox {
    width: 266px;
    padding: 10px 0px;
    margin-bottom: 08px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    text-indent: 10px;
    font-size: 12px;
}
.button {
    width: 268px;
    height: 32px;
    margin: 15px 0;
    font-size: 14px;
    font-weight: bold;
    color: #F7FCFF;
    background-color: #4DB5F9;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.divider {
    display: flex;
    width: 268px;
    font-size: 12px;
    font-weight: bold;
    gap: 20px;
    color: #8a8a8a;
    margin-top: 9px;
    margin-bottom: 25px;
}
.line {
    background-color: #DBDBDB;
    height: 1px;
    flex: 1;
}
.forgot {
    color: #00376B;
    font-size: 12px;
    text-decoration: none;
    padding-bottom: 3px;
}
.panelmessage {
    display: flex;
    align-items: center;
    margin: 10px;
    text-align: center;
}
.panelmessage h5{
    color: #ed4956;
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
}
.signup {
    justify-content: center;
    font-size: 14px;
}
.signup a {
    text-decoration: none;
    color: #0095F6;
    padding-left: 5px;
    font-weight: 550;
}
.apps {
    flex-direction: column;
    font-size: 14px;
    border: none;
    margin-top: -10px;
}
.app-store{
    margin-top: 18px;
}
.app_store_img1 {
    width: 140;
    height: 40px;
}
.app_store_img2 {
    width: 123;
    height: 40px;
    margin-left: 5px;
}
ul {
    display: flex;
    justify-content: center;
    font-size: 12px;
    list-style: none;
    gap: 15px;
    margin: 10px 0;
}
.last_footer li, a {
    color: #8E8E8E;
    text-decoration: none;
}
.last_footer {
    padding-top: 10px;
    margin-bottom: 60px;
}
@media (max-width: 998px){
    ul {
        display: none;
    }
}